<!DOCTYPE html>
<html>
<head>
  <title>CloudMonitor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<main class='main'>
  <h1 class='text-huge'>
    Awesome Monitor
  </h1>

  <%= yield %>
</main>
<%= render_lazybox %>
</body>
</html>
